<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FileSearchPath" value="\\serenity\h\FileLib\Gameshots"/>
    <add key="FileSavePath" value="C:\Users\Lapper\Downloads\RandomShots"/>
    <add key="NumberEstimate" value="20000"/>
  </appSettings>
</configuration>